/*****************
VARIABLES
*****************/

$tablet: 'min-width: 768px';
$desktop: 'min-width: 1024px';
$link-color: #393c41;
$link-hover: #576c88;
$link-click: #e9e9cb;
$font-color: #554b58;
$font-stack: 'Ubuntu', Helvetica, sans-serif;
$font-stack2: 'Muli', Helvetica, sans-serif;
$background-color: #fcfbeb;
$background-color-2: #eee;

/*****************
SITEWIDE STYLING
*****************/

section {
    width: 90%;
    margin: 0 auto;
    @media screen and ($tablet) {
      padding: 0;
      max-width: 960px;
      margin: 0 auto;
    }
    @media screen and ($desktop) {
      max-width: 1040px;
      margin: 0 auto;
    }
}

body {
    width: 100%;
    color: $font-color;
    font-family: $font-stack;
    background-color: $background-color;
    margin: 0;
    padding: 0;
  @media screen and ($tablet) {
      width: 100%;
      background-size: 400px 400px;
  }
  @media screen and ($desktop) {
      max-width: 100%;
      background-size: 600px 600px;
  }
}

ul {
  list-style-type: none;
}

.music-page {
  color: $font-color;
  margin-bottom: 2em;
}

.git-link {
  margin-bottom: 2em;
}

.demo-screen {
  height: 40em;
  iframe {
    width: 100%;
    height: 100%;
  }
  a {
    margin-bottom: 3em;
  }
}



/*****************
NAVIGATION
*****************/

nav {
  height: 3em;
  margin-top: 0;
  width: 100%;
  p{
    float: left;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1em;
    width: 100%;
  }
  a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 300;
    color: $font-color;
    margin-left: 1em;
    & :hover {
      color: $link-hover;
    }
  }
  @media screen and ($tablet) {
    position: fixed;
    left: 0;
    top: 0;
    height: 4em;
    background-color: $background-color;
    z-index: 100;
    a {
      margin-left: 8%;
    }
    p {
      font-size: 1.2em;
      width: 100%;
    }
  }
  @media screen and ($desktop) {
    p {
      font-size: 1.5em;
      width: 100%;
    }
  }
}

/*****************
HEADER AND TOPLINE STYLES
*****************/

header {
  margin: 0 auto 3em;
  img {
    width: 90%;
    margin: 3em 5% 0.5em;;

  }
  @media screen and ($tablet) {
      width: 100%;
      img {
        width: 90%;
        margin: 4em 5%;
      }
  }
  @media screen and ($desktop) {
      max-width: 100%;
      margin-bottom: 2em;
      img {
        width: 90%;
        margin: 100px 5% 1em;
      }
  }
}

/*462x413*/

.top-line {
  color: $font-color;
  margin-left: 1em;
  h2 {
    color: $font-color;
    font-weight: 700;
    font-size: 2em;
    margin-top: 2em;
  }
  h3 {
    color: $font-color;
    font-family: $font-stack2;
    font-weight: 700;
    margin-top: 0.5em;
  }
  p {
    font-family: $font-stack2;
    width: 100%;
    font-weight: 300;
    line-height: 1.2em;
    margin-bottom: 3em;
  }
  @media screen and ($tablet) {
    margin: 0 auto;
    h2 {
      width: 90%;
      margin: 0 auto;
      text-align: center;
      font-size: 2.5em;
    }
    h3 {
      width: 90%;
      margin: 0 auto;
      text-align: center;

    }
    p {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }
  }
  @media screen and ($desktop) {
    margin: 0 auto;
    h2 {
      text-align: center;
      width: 100%;
      font-size: 3em;
    }
    h3 {
      text-align: center;
      width: 100%;
    }
    p {
      width: 80%;
      font-size: 1.4em;
      text-align: left;

    }
  }
}
#direction {
  font-size: 3em;
  color: $font-color;
  text-align: center;
  margin-top: 1em;
  font-weight: 500;
}
#spacer1 {
  height: 30px;

  @media screen and ($tablet) {
      height: 200px;
  }
  @media screen and ($desktop) {
      height: 150px;
  }
}

#spacer2 {
  height: 150px;

  @media screen and ($tablet) {
      height: 250px;
  }
  @media screen and ($desktop) {
      height: 250px;
  }
}
/*****************
FEATURES UL
*****************/

.features {
  opacity: 0;
  ul{
    padding-left: 0;
    li {
      margin-left: .75em;
      img {
        height: 207px;
        width: 231px;
        border: 5px solid $link-color;
        border-radius: 100%;
      }
      h2 {
        font-size: 2em;
        margin-bottom: 0.25em;
        margin-top: 0.1em;
      }
      p {
        font-family: $font-stack2;
        font-weight: 300;
        margin-bottom: 2em;
        margin-top: 0.2em;
      }
    }
  }
  @media screen and ($tablet) {
    text-align: center;
    ul {
      width: 90%;
      padding-left: 0;
      margin: 0 auto;
      li {
        margin-left: 0;
        img {
          height: 275.33px;
          width: 308px;
        }
      }
    }
  }
  @media screen and ($desktop) {
    ul {
      margin: 0 auto;
      li {
        img {
          height: 413px;
          width: 413px;
        }
      }
    }
  }
}

/*****************
CALL TO ACTION
*****************/

.call {
  text-align: center;
  margin: 0 auto 8em auto;
  font-size: 1em;
  a {
    text-decoration: none;
    box-shadow: 5px 5px 5px 5px #333;
    background-color: #908477;
    font-weight: 700;
    font-size: 2.5em;
    border: 1px solid $link-color;
    border-radius: 5px;
    color: $link-color;
    cursor: pointer;
    &:hover {
    color: $link-hover;
    }
    &:active {
    color: $link-click;
    }
    &:target {
    color: $link-click;
    }
  }
  @media screen and ($tablet) {
    font-size: 1.2em;
  }
  @media screen and ($desktop) {
    font-size: 1.5em;
  }
}

/*****************
SOCIAL NETWORK LINKS
*****************/

.social {
  font-size: 30px;
  color: $font-color;
  margin-bottom: 3em;
  margin-top: 4em;
  text-align: center;
  a {
    margin-left: 1.25em;
    text-decoration: none;
    margin-right: 1.25em;
    }
  i {
    color: $link-color;
    &:hover {
    color: $link-hover;
    }
    &:active{
      color: $link-click;
    }
  }
  @media screen and ($tablet) {
    font-size: 2em;
  }
  @media screen and ($desktop) {
    font-size: 3em;
  }

}

/*****************
FOOTER AND LEGAL
*****************/

footer {
  text-align: center;
  margin-bottom: 20px;
  a {
    text-decoration: none;
    color: $link-color;
    &:hover {
      color: $link-hover;
    }
    &:active {
      color: $link-click;
    }
  }
}

#copyright {
  color: #babbbb;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 0;
}
